$primary-color: #020203;
$secondary-color: #74798c;
$third-color: #ff0000;
$fourth-color: #282d30;

body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
.App {
  display: grid;
  grid-template-columns: 117px 1fr;
  grid-template-rows: 91px 1fr;
}

.header {
  z-index: 10;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-color: $primary-color;
  display: flex;
  align-items: center;

  &-logo {
    width: 178px;
    margin: 18px 28px;
  }
  &-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    &-link {
      color: white;
      font-size: 1.5rem;
      text-decoration: none;
    }
  }
}
.asideNav {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 100%;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-iconContainer {
    display: flex;
    flex-direction: column;
    &-btn {
      margin: 10px 0;
      padding: 0;
      border: 0;
      color: none;
      background-color: $primary-color;
    }
  }
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 4.25rem 6.7rem;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 3fr 2fr;
}

.mainHeader {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  &-title {
    margin: 0;
    &-name {
      color: red;
    }
  }
}
.sideContainer {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nutritionBloc {
  display: flex;
  background-color: #fbfbfb;
  width: 100%;
  height: 7.75rem;
  border-radius: 0.3rem;
  justify-content: center;
  align-items: center;
  &-img {
    width: 3.75rem;
  }
  &-text {
    margin-left: 1.5rem;
    &-number {
      font-size: 1.25rem;
      font-weight: 700;
    }
    &-nutri {
      font-weight: 500;
      margin: 0;
      font-size: 0.875rem;
      color: $secondary-color;
    }
  }
}

.barcharts {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.smallGraphContainer {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: flex;
}
.pieText {
  font-size: 1rem;
}
