body {
  margin: 0;
  height: 100%;
}
.App {
  display: grid;
  grid-template-columns: 117px 1fr;
  grid-template-rows: 91px 1fr;
}

.header {
  z-index: 10;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-color: black;
  display: flex;
  align-items: center;

  &-logo {
    width: 178px;
    margin: 18px 28px;
  }
  &-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    &-link {
      color: white;
    }
  }
}
.asideNav {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 100vh;
  background-color: black;
}
header-logo {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
